ul
  li
    a.facebook(href="https://www.facebook.com/", target="_blank")
      img(src="images/Facebook-icon-1.png")
  li
    a.twitter(href="https://twitter.com/", target="_blank")
      img(src="images/images.png")
  li
    a.instagram(href="https://www.instagram.com/", target="_blank")
      img(src="images/insta.png")
  li
    a.google-plus(href="https://plus.google.com/discover", target="_blank")
      img(src="images/gp.png")
