ul.menu 
  li
      a(href="/feed") Головна 
  li
    a(href="/city") Місто
  li
    a(href="/advertisement") Оголошення
  li
    a(href="/sport") Спорт
  li
    a(href="/culture") Культура
  if (admin)
    li
      a(nohref)="|"
    li
      a(href="/buildings") Будинки
    li
      a(href="/residents") Жителі
  
      
